<div class="container">
  <ul>
    <%  @restaurants.each do |restaurant| %>
    <li> <%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
  <br>

  <%= link_to "Create new Restaurant", new_restaurant_path, class= 'btn btn-outline-primary' %>
</div>
